.dino{
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 0;	
	background-image: url(img/dino.png);
}

.cactus{
	position: absolute;
	width: 60px;
	height: 60px;
	bottom: 0;	
	background-image: url(img/cactus.png);
}

.body{
	background: #fafafa;
}

.game-over{
	text-align: center;
	color: #666666;
	margin-top: 50px;
	font-family: arial;
}

#score{
	text-align: center;
	color: #666666;	
	font-family: arial;
	margin-top: 20px;
}

@keyframes slideRight{
	from{
		background-position: 70000%;
	}
	to{
		background-position: 0;
	}
}

.background{
	position: absolute;
	bottom: 0;
	background-image: url(img/background.png);
	background-repeat: repeat-x;
	animation: slideRight 600s infinite linear;
	width: 100%;
	height: 200px;
}